
.kanbas-navigation{
    background-color: black;
    list-style: none;
    padding: 0px;
    color: white;
    width: 80px;
    font-size: 0.8em;
    line-height: 1.5;
margin-left: 0%;
    margin-top: 10px;



}

.kanbas-navigation i{
    color: red;
}


.kanbas-navigation ul{
    background-color: black;
    list-style: none;
    padding: 0px;
    color: white;
    width: 80px;
    font-size: 0.8em;
    line-height: 1.5;
    margin-block-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0; 

}


.kanbas-navigation li {
   padding: 7px;
    text-align: center;
    color:white;
}

.kanbas-navigation a {
   
    color: white; 
    text-decoration: none; 
}

.kanbas-navigation li.wd-active{
    background-color: white;
   
}

.kanbas-navigation li.wd-active a{
    color: red; 
}

.kanbas-navigation li.wd-active i{
        color: red; 
}


.second-navigation a{
    color: red; 
    text-align: left;
    list-style: none;
    text-decoration: none;
   
}

.second-navigation ul{
    color: red; 
    text-align: left;
    list-style: none;
    text-decoration: none;
    padding-left: 0;
    word-wrap: break-word;
    hyphens: none;
    line-height: 2.4;
    
   
}

.second-navigation i{
    color: gray;
    float: right}

.second-navigation li.wd-active{
    
    padding-left: 4px;
    font-weight: bold;
    border-left: 2px solid;
    border-left-width: 4px;
    border-left-style: solid;
    border-left-color: black;
    color: black;

    margin-bottom: 10px;
}

.second-navigation a.wd-active{
  
    color: black;
}

.cardsclass{
    color: darkblue;

}

.cardsclass a{
    text-decoration: none;

}

/**Courses home screen */
.courses-sidebar .btn{
    border-radius: 3px;
    border-color: #c7cdd1;
    color: black;
    padding: 8px;
    line-height: 20px;
    cursor: pointer;
    display: block;


}

.assignments{
    box-sizing: border-box;

}

.assignments btn{
    font-size: 1rem;


    display: inline-block;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    border-radius: 0.25rem;

    padding: 0.375rem 0.75rem;

}

.assignments a{
    text-decoration: none;
    cursor: pointer;
    color: black;

}


.wd-course-status ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.wd-course-status li{
list-style: none;
text-align: left;
word-wrap: break-word;



}

.wd-course-status btn{

    cursor: pointer;
    padding: 10px;

}




.wd-navbar a{
    text-decoration: none; 
    color: black;
} 
